<!DOCTYPE HTML>
<?php
	require_once( LANG_UI_PATH . 'game.php' );
?>
	<html>
	<head>
	<title><?$this->appConfig['page'][$this->appConfig['system']['lang'] . '_title'];?></title>
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta content="<?echo $this->appConfig['page']['meta-tag'];?>" name="description"> 
	<meta content="$this->appConfig['page']['meta-tag'];" name="keywords">
	<link href="assets/default/lang/<?echo $this->appConfig['system']['lang'].'/lang.css'.$this->getAssetVersion();?>" rel="stylesheet" type="text/css" />
	<link href="assets/default/lang/<?echo $this->appConfig['system']['lang'].'/compact.css'.$this->getAssetVersion();?>" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
	var d3l=<? echo($this->appConfig['system']['lang'] == 'ar' ? '180' : '-600');?>;</script>
	<script src="assets/core.js<?echo $this->getAssetVersion();?>" type="text/javascript"></script>
	</head>
	
<body class="v35 webkit">
<div class="wrapper">
<img src="assets/x.gif" id="msfilter" alt="" />
<div id="dynamic_header"></div>

<div id="header">
	<div id="mtop">
	<? if ($this->player != NULL) { ?>
		<a href="village1.php" id="n1" accesskey="1">
			<img src="assets/x.gif" title="<? echo LANGUI_GAME_ICO1;?>" alt="<? echo LANGUI_GAME_ICO1;?>"/>
		</a>
		<a href="village2.php" id="n2" accesskey="2">
			<img src="assets/x.gif" title="<? echo LANGUI_GAME_ICO2;?>" alt="<? echo LANGUI_GAME_ICO2;?>"/>
		</a>
		<a href="map.php" id="n3" accesskey="3">
			<img src="assets/x.gif" title="<? echo LANGUI_GAME_ICO3;?>" alt="<? echo LANGUI_GAME_ICO3;?>" />
		</a>
		<a href="statistics.php" id="n4" accesskey="4">
			<img src="assets/x.gif" title="<? echo LANGUI_GAME_ICO4;?>" alt="<? echo LANGUI_GAME_ICO4;?>" />
		</a>
  		<div id="n5" class="i<? echo $this->reportMessageStatus;?>">
			<a class="reports" href="report.php" accesskey="5">
				<img src="assets/x.gif" class="l" title="<? echo LANGUI_GAME_ICO5;?>" alt="<? echo LANGUI_GAME_ICO5;?>"/>
			</a>
			
			<a class="messages" href="msg.php" accesskey="6">
				<img src="assets/x.gif" class="r" title="<? echo LANGUI_GAME_ICO6;?>" alt="<? echo LANGUI_GAME_ICO6;?>" />
			</a>
		</div>

	<? } ?>
		<div class="clear"></div>
	</div>
</div>

<div id="mid">
	<div id="side_navi">
		<a id="logo" href="#">
			<img  src="assets/x.gif" alt="<?echo LANGUI_GAME_GNAME;?>"/>
		</a>
	<?
	if ($this->player != NULL) {
		$_d = intval( date( 'G' ) );
		if (( 6 <= $_d && $_d <= 19 )) {
			echo '<img class="time_of_day day" title="'.LANGUI_GAME_MORNING.'" alt="'.LANGUI_GAME_MORNING.'" src="assets/x.gif" />';
		} else {
			echo '<img class="time_of_day night" title="'.LANGUI_GAME_AFTERNOON.'" alt="'.LANGUI_GAME_AFTERNOON.'" src="assets/x.gif"/>';
		}
	}
	echo '<p>
		<a href="index.php">'.LANGUI_GAME_MENU1.'</a>';

	if ($this->player != NULL) {
		echo '<a href="#" onclick="return showManual(0,0);">'.LANGUI_GAME_MENU2.'</a>';
		echo '<a href="profile.php">'.LANGUI_GAME_MENU3.'</a>';
		echo '<a href="logout.php">'.LANGUI_GAME_MENU4.'</a>';
		
		echo "<br />";
		echo '<a href="debug.php"><b>Debug</b></a>';
		//echo '<a href="'.$this->appConfig['system']['forum_url'].'" target="_blank">'.LANGUI_GAME_T1.'</a>';
		//echo '<a href="'.$this->appConfig['system']['social_url'].'" target="_blank">'.LANGUI_GAME_T2.'</a>';
		echo '<a href="chat.php">'.LANGUI_GAME_MENU12.'</a>';
		//echo '<a href="snprofile.php?uid='.$this->player->playerId.'">'.LANGUI_GAME_T3.'</a>';
		echo '<a href="friends.php">'.LANGUI_GAME_T4.'</a>';
		
		echo "<br />";
		
		if ($this->data['active_plus_account']) {
			echo '<a href="notes.php">'.LANGUI_GAME_MENU5.'</a>';
			echo '<a href="links.php">'.LANGUI_GAME_MENU6.'</a>';
		}
		
		if ($this->data['player_type'] == PLAYERTYPE_ADMIN) {
			echo "<br />";
			echo '<a href="news.php">'.LANGUI_GAME_MENU7.'</a>';
            echo '<a href="gnews.php">'.LANGUI_GAME_MENU8.'</a>';
            echo '<a href="badwords.php">'.LANGUI_GAME_MENU10.'</a>';
            echo '<a href="advertising.php">'.LANGUI_GAME_MENU11.'</a>';
			echo "<br />";
		}
		
		echo '<a href="plus.php?t=2 ">
				<b>
					<font color="#FF6F0F">'.LANGUI_GAME_MENU9.' [ '.$this->data['gold_num'].' ]</font>
				</b>
		</a>';
		
		if($this->appConfig['Game']['silver_coins'] == true) {
			echo ' <a href="plus.php?t=3 ">Silver Coins [ '.$this->data['silver_num'].' ]</a>';
		}
		
		if ($this->isPlayerInDeletionProgress()) {
			echo '<p class="deltimer">
				<a href="profile.php?t=4">'.LANGUI_GAME_PLAYERDEL.'
					<span id="timer1">'. $this->getPlayerDeletionTime() .'</span>
						'.time_hour_lang.'
					</a>
			</p>';
		}
	}
	?>
	
	</div>
<div id="content" class="<? echo $this->contentCssClass; ?>">
	<? $this->printContent();?>
</div>

<div id="side_info">
<?
	if (( $this->data['guide_quiz'] != GUIDE_QUIZ_COMPLETED && $this->player != NULL )) {
		echo '<div id="anm" style="width:118px; height:142px; visibility: hidden;"></div>';
		echo '<div id="qge">';
			echo '<img onclick="showTask();" src="assets/x.gif" id="qgei" class="'.$this->getGuideQuizClassName().'" title="'.LANGUI_GAME_LMENU1.'" alt="'.LANGUI_GAME_LMENU1.'">';
		echo '</div>';
	}
	if ($this->player != NULL) {
		if (1 < sizeof( $this->playerVillages )) {
			echo '<table cellpadding="1" cellspacing="1" id="vlist">';
				echo '<thead>';
					echo '<tr>';
						echo '<td colspan="3">';
							echo '<b>'.LANGUI_GAME_LMENU2.':</b>';
						echo '</td>';
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';
					foreach ($this->playerVillages as $vid => $pvillage) {
						echo '<tr>';
								if ($vid == $this->data['selected_village_id']) {
									echo '<td class="dothl">●</td>';
								} else {
									echo '<td class="dot">●</td>';
								}
							echo '<td class="link">';
								echo '<div>';
										echo '<a href="?vid='.$vid . $this->villagesLinkPostfix.'">'.$pvillage[2].'</a>';
								echo '</div>';
							echo '</td>';
							
							echo '<td class="aligned_coords">';
								echo '<div class="cox">('.$pvillage[0].'</div>';
								echo '<div class="pi">|</div><div class="coy">'.$pvillage[1].')</div>';
							echo '</td>';
						
						echo '</tr>';
					}
				echo '</tbody>';
			echo '</table>';
		}

		if ((sizeof( $this->playerLinks) && $this->data['active_plus_account'])) {
			echo '<table id="llist">';
				echo '<thead>';
					echo '<tr>';
						echo '<td colspan="2">';
							echo '<a href="links.php">'.LANGUI_GAME_LMENU3.':</a>';
						echo '</td>';
					echo '</tr>';
				echo '</thead>';
			echo '<tbody>';
				foreach ($this->playerLinks as $link) {
					echo '<tr>';
						echo '<td class="dot">●</td>';
						echo '<td class="link">';
							echo '<div>';
								echo '<a href="'.htmlspecialchars($link['linkHref']).'">'.$link['linkName'].'</a>';
									if (!$link['linkSelfTarget']) {
										echo ' <img class="external" src="assets/x.gif" alt="'.LANGUI_GAME_LMENU4.'" title="'.LANGUI_GAME_LMENU4.'">';
									}
							echo '</div>';
						echo '</td>';
					echo '</tr>';
				}
				echo '</tbody>';
			echo '</table>';
		}

		echo '<div align="center" style="position: absolute; left:'.($this->appConfig['system']['lang'] == 'ar' ? '1000' : '-850').'px; top: 35px;">';
			if (0 < sizeof($this->banner )) {
				if ($this->banner['type'] == 'image') {
					echo '<a target="_blank" href="banner.php?url='.base64_encode($this->banner['ID']).'"> 
							<img width="120" height="450" src="'.$this->banner['image'].'" border="0" title="'.$this->banner['name'].'"  alt="'.$this->banner['name'].'">
						</a>';
				} else {
					echo '<embed width="120" height="450" onclick="window.location.href(\'banner.php?url=' . base64_encode( $this->banner['ID'] ) . '\')" title="' . $this->banner['name'] . '" src="' . $this->banner['image'] . '" />';
				}
			}
		echo '</div>';
	}

?>
</div>
	<div class="clear"></div>
</div>

<div class="footer-stopper"></div>
<div class="clear"></div>
	<div id="footer">
		<div id="mfoot">
			<div class="footer-menu">';
		<? require(VIEW_PATH . 'layout/footer.phtml'); ?>
		</div>
		</div>
		<div id="cfoot"></div>
	</div>
</div>
<?	
	if ($this->player != NULL) {
		echo '<div id="res">
	<div id="resWrap">
		<table cellpadding="1" cellspacing="1">';
			echo '<tbody>';
			
				echo '<tr>';
				
					echo '<td>';
						echo '<img src="assets/x.gif" class="r1" alt="'.item_title_1.'" title="'.item_title_1.'"/>';
					echo '</td>';
					echo '<td id="l4" title="'.$this->resources[1]['calc_prod_rate'].'">';
						echo ''.$this->resources[1]['current_value'].'/'.$this->resources[1]['store_max_limit'];
					echo '</td>';
				
					echo '<td>';
						echo '<img src="assets/x.gif" class="r2" alt="'.item_title_2.'" title="'.item_title_2.'"/>';
					echo '</td>';
					echo '<td id="l3" title="'.$this->resources[2]['calc_prod_rate'].'">';
						echo ''.$this->resources[2]['current_value'].'/'.$this->resources[2]['store_max_limit'];
					echo '</td>';
				
					echo '<td>';
						echo '<img src="assets/x.gif" class="r3" alt="'.item_title_3.'" title="'.item_title_3.'"/>';
					echo '</td>';
					echo '<td id="l2" title="'.$this->resources[3]['calc_prod_rate'].'">';
						echo ''.$this->resources[3]['current_value'].'/'.$this->resources[3]['store_max_limit'];
					echo '</td>';
				
					echo '<td>';
						echo '<img src="assets/x.gif" class="r4" alt="'.item_title_4.'" title="'.item_title_4.'"/>';
					echo '</td>';
					echo '<td id="l1" title="'.$this->resources[4]['calc_prod_rate'].'">';
						echo ''.$this->resources[4]['current_value'].'/'.$this->resources[4]['store_max_limit'];
					echo '</td>';
					
				echo '</tr>';
				

		if (!$this->wrap) {
			
			echo '
				<td>
					<img src="assets/x.gif" class="r5" alt="'.LANGUI_GAME_CROPCONSUM.'" title="'.LANGUI_GAME_CROPCONSUM.'"/></td>
				<td>';
			echo $this->data['crop_consumption'];
			echo '/';
			echo $this->data['crop_consumption'] + $this->resources[4]['calc_prod_rate'];
			echo '</td>';
			echo "</tr>";
			
		} else {
			
			echo '
				<td>
					<img src="assets/x.gif" class="r5" alt="'.LANGUI_GAME_CROPCONSUM.'" title="'.LANGUI_GAME_CROPCONSUM.'"/></td>
				<td>';
			echo $this->data['crop_consumption'];
			echo '/';
			echo $this->data['crop_consumption'] + $this->resources[4]['calc_prod_rate'];
			echo '</td>';
			echo "</tr>";
		}

		echo '</tbody></table>';
		echo "</div></div>";
		
		list( $usec, $sec ) = explode( ' ', microtime() );
		echo '<div id="stime">
	<div id="ltime"><div id="ltimeWrap">';
		echo LANGUI_GAME_CALCMS;
		echo ' <b>';
		echo ceil( ( (double)$sec + (double)$usec - $GLOBALS['__scriptStart'] ) * 1000 );
		echo '</b> ms<br />';
		echo LANGUI_GAME_SRVTIME;
		echo ' ';
		echo '<s';
		echo 'pan id="timer2" class="b">';
		echo date( 'G:i:s' );
		echo '</span></div></div>
</div>
';
	}

	echo ' 
<div id="ce"></div>
</body>
';
	echo '<s';
	echo 'cript type="text/javascript">init();';

	if (( ( $this->player != NULL && !$this->player->isSpy ) && $this->data['guide_quiz'] == GUIDE_QUIZ_NOTSTARTED )) {
		echo 'showTask();';
	}

	echo '</script>
</html>';
?>
